apiVersion: v1
kind: Service
metadata:
  name: openshift-partner-labs-ai-app
  labels:
    app: openshift-partner-labs-ai-app
spec:
  type: ClusterIP
  ports:
  - port: 7777
    targetPort: 7777
    protocol: TCP
    name: http
  selector:
    app: openshift-partner-labs-ai-app